absl-py==0.7.1
aniso8601==8.0.0
argon2-cffi==19.2.0
asgiref==3.2.3
astor==0.7.1
backcall==0.1.0
bcrypt==3.1.7
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
colorama==0.4.1
decorator==4.4.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-Cors==3.0.8
gast==0.2.2
grpcio==1.16.0
gunicorn==20.0.4
h5py==2.9.0
idna==2.8
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.11.1
joblib==0.13.2
jupyter-client==5.3.1
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.0
olefile==0.46
parso==0.5.1
patsy==0.5.1
pickleshare==0.7.5
prompt-toolkit==2.0.9
protobuf==3.7.1
pycparser==2.19
Pygments==2.4.2
PyJWT==1.4.2
pyparsing==2.4.2
pyreadline==2.1
python-dateutil==2.8.0
pytz==2019.2
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==18.0.2
tensorflow==1.15.2
Werkzeug==0.15.5
wincertstore==0.2

