<!DOCTYPE html>

<head>
	<meta charset='UTF-8' />

	<title>Drawing Table</title>

	<link rel='stylesheet' href='{{ url_for('static',filename='css/colorpicker.css') }}' />
	<link rel='stylesheet' href='{{ url_for('static',filename='css/style.css') }}' />

	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
	<script type="text/javascript" src='{{ url_for('static',filename='js/colorpicker.js') }}'></script>
	<script type="text/javascript" >
	function buildGrid(cols, rows) {
  var tableMarkup = "";

  for (x = 0; x < rows; x++) {
    tableMarkup += "<tr>";
    for (y = 0; y < cols; y++) {
      tableMarkup += "<td>&nbsp;</td>";
    }
    tableMarkup += "</tr>";
  }

  $("#drawing-table").html(tableMarkup);
}

$(function () {
  // Variable Setup
  var cols = 28,
    rows = 28,
    curColor = "red",
    mouseDownState = false,
    eraseState = false,
    tracingMode = false,
    prevColor = "",
    $el;

  // Inital Build of Table
  buildGrid(cols, rows);

  // Dropdown for changing Grid Size
  $("#gridSize").change(function () {
    $el = $(this);
    rows = $el.val().split(",")[0];
    cols = $el.val().split(",")[1];
    buildGrid(rows, cols);
  });

  // Clearing the Design
  $("#clear").click(function () {
    rows = $("#gridSize")
      .val()
      .split(",")[0];
    cols = $("#gridSize")
      .val()
      .split(",")[1];
    buildGrid(rows, cols);
  });

  // Drawing functionality
  $("#drawing-table")
    .delegate("td", "mousedown", function () {
      mouseDownState = true;
      $el = $(this);
      if (eraseState) {
        $el.removeAttr("style");
      } else {
        $el.css("background", curColor);
      }
    })
    .delegate("td", "mouseenter", function () {
      if (mouseDownState) {
        $el = $(this);
        if (eraseState) {
          $el.removeAttr("style");
        } else {
          // DRAWING ACTION
          $el.css("background", curColor);
        }
      }
    });
  $("html").bind("mouseup", function () {
    mouseDownState = false;
  });

  // Erasing functionality through OPTION key
  $(document)
    .keydown(function (event) {
      if (event.keyCode == 18) {
        eraseState = true;
        $(".selected").addClass("previous");
        $(".color").removeClass("selected");
        $(".eraser").addClass("selected");
      }
    })
    .keyup(function (event) {
      if (event.keyCode == 18) {
        eraseState = false;
        $(".color").removeClass("selected");
        $(".previous")
          .addClass("selected")
          .removeClass("previous");
        $("." + curColor).addClass("selected");
      }
    });

  // Color selection swatches
  $("#color-selector").delegate(".color", "click", function () {
    $el = $(this);
    var pulledVal = $el.attr("data-color");

    if (pulledVal == "eraser") {
      eraseState = true;
    } else {
      eraseState = false;
      curColor = pulledVal;
    }

    $(".color").removeClass("selected");
    $(this).addClass("selected");
  });

  // Tracing Functionality
  $("#tracing-image-form").submit(function () {
    var url = $("#fileLocation").val();

    $("<div />", {
      css: {
        backgroundImage: "url(" + url + ")",
        width: 500,
        height: 500,
        opacity: 1,
        position: "absolute",
        top: 0,
        left: 0
      },
      id: "tracing-image"
    }).appendTo("#table-wrap");

    $("#drawing-table").css("opacity", 0.5);
    $("#toggle-tracing-mode").show();
    $("#tracing-image-form").remove();
    tracingMode = true;

    return false;
  });

  $("#toggle-tracing-mode").click(function () {
    if (tracingMode) {
      $("#tracing-image").css("visibility", "hidden");
      $(this).html("Toggle Tracing Mode On");
      $("#drawing-table").css("opacity", 1);
      tracingMode = false;
    } else {
      $("#tracing-image").css("visibility", "visible");
      $(this).html("Toggle Tracing Mode Off");
      $("#drawing-table").css("opacity", 0.5);
      tracingMode = true;
    }
  });

  $(".color input").ColorPicker({
    onSubmit: function (hsb, hex, rgb, el) {
      var $swatch = $(el).parent();
      var newColor = "#" + hex;

      $(".color").removeClass("selected");
      $("." + $swatch.attr("data-color"))
        .css("background", newColor)
        .addClass("selected");
      $swatch.attr("data-color", newColor);
      curColor = newColor;
    },
    onBeforeShow: function () {
      $(this).ColorPickerSetColor(this.value);
    }
  });

  $("#get-html-button").click(function () {
    // alert("asdf")ukggkhgkj

    var outputArray = [];
    var outputArray2 = [];
    var outputString = ""
    var outputJSON = {
      data: undefined
    };
    for (let i = 0; i < 28; i++) {
      outputArray[i] = [];
    }

    for (let i = 0; i < 784; i++) {
      let value =
        document.getElementsByTagName("td").item(i).style.backgroundColor ==
        "red" ?
        1 :
        0;

      outputArray2[i] = value;
      outputString += value;
    }

    console.log(
      'output string',
      outputString

    );
    // console.log(
    //   outputArray

    // );

    outputJSON.data = outputArray2;
    $("#the-html").val(JSON.stringify(outputJSON));


    // now send the request


    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
         document.getElementById("answer").innerText = JSON.parse( this.responseText).predicted;

        //  alert(JSON.parse( this.responseText).predicted)

      }
    };
    xhttp.open("POST", "http://localhost:5000/predict", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("data=" + outputString);


  });
});

</script>
</head>

<body>

	<div id="page-wrap">

		<h1>Draw Digit ( Predicted  :  <span id="answer"></span> )</h1>

		<div id="controls">

			<fieldset id="grid-size-wrap">
				<legend>Grid Size</legend>

				<button id="clear">Clear the Design</button>

				<select id="gridSize">
					<!-- <option value="20,20" selected>20 x 20</option> -->
					<option value="28,28">28 x 28</option>

				</select>
				<br />
				Changing size clears the design
			</fieldset>




			<fieldset id="html-wrap">
				<legend>Get the array</legend>

				<textarea id="the-html"></textarea>

				<button id="get-html-button">Convert to 2d Array</button>
				<button id="get-html-button" onclick="copy()">Copy it Now !</button>
			</fieldset>

		</div>

		<div id="table-wrap">
			<table id="drawing-table">
				<tr>
					<td></td>
				</tr>
			</table>
		</div>

	</div>

</body><script>
	function copy() {
		// alert('asdf')
	  var copyText = document.getElementById("the-html");
	  copyText.select();
	  copyText.setSelectionRange(0, 99999)
	  document.execCommand("copy");
	  alert("Copied the text: " );
	}
	</script>

</html>